[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.11.28"
cffi = "==1.13.2"
cryptography = "==2.8"
docopt = "==0.6.2"
future = "==0.18.2"
pycparser = "==2.19"
pymorphy2 = "==0.8"
pymorphy2-dicts = "==2.4.393442.3710985"
python-telegram-bot = "==12.2.0"
six = "==1.13.0"
tornado = "==6.0.3"
DAWG-Python = "==0.7.2"
google-cloud-speech = "*"
sox = "*"
ffprobe-python = "*"

[requires]
python_version = "3.5"
